<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Tool suite for Roku development.">
        <meta name="author" content="Christian Cecilia">
        <title>Roku Suite</title>
        <!-- CSS -->
        <link rel="stylesheet" href="../assets/css/style.css">

        <!-- JS -->
        <script src="../node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="../lib/frontEnd/mainWindow.js" type="text/javascript"></script>
    </head>
    <body>
        <header class="card">
            <h1>Roku Suite</h1>
        </header>
        <div class="main-wrapper">
            <div class="card side-menu">
                <ul>
                    <li>
                        <a href="#projects">Projects</a>
                    </li>
                    <li>
                        <a href="#tools">Tools</a>
                    </li>
                    <li>
                        <a href="#tools">Rokus</a>
                    </li>
                    <li>
                        <a href="#tools">Refs</a>
                    </li>
                </ul>
            </div>
            <div class="main-view-pane">
                <div id="projects-pane">

                </div>
            </div>
        </div>
    </body>
</html>
