<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Tool suite for Roku development.">
        <meta name="author" content="Christian Cecilia">
        <title>Roku Suite</title>
        <link rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body>
        <header>
            <h1>Roku Suite</h1>
        </header>
        <div class="side-menu">
            <ul>
                <li>
                    <a href="#projects">Projects</a>
                </li>
                <li>
                    <a href="#tools">Tools</a>
                </li>
                <li>
                    <a href="#tools">Rokus</a>
                </li>
                <li>
                    <a href="#tools">Refs</a>
                </li>
            </ul>
        </div>
        <<div class="main-view-pane">
            
        </div>
    </body>
    <script src="../node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="../lib/global.js" type="text/javascript"></script>
</html>
