extends layout

block content
    .row
        #sidebar.col-3
            ul.sidebar-menu.text-center
                li.sidebar-brand
                    h2 Roku Suite
                li.sidebar-nav.active-nav.clickable(data-target='projects') Projects
                li.sidebar-nav.clickable(data-target='rokus') Rokus
                li.sidebar-nav.clickable(data-target='tools') Tools
                li.sidebar-nav.clickable(data-target='refs') Refs
                li.sidebar-nav.clickable(data-target='key_logs') Key Logs
                li.sidebar-nav.clickable(data-target='analytics') Analytics
        #main-content.col-9
            #deploy-options.row
                .col-6#roku-select-wrap.offset-3.text-center
                    label.roku-font(for='roku-select')
                        h4 Select Roku
                    select#roku-select.selectpicker.btn.btn-roku(data-actions-box="true", data-header='Select Roku', multiple=true)
            #trashcan.row.hidden
                .col-6.offset-3.text-center(ondrop='trash(event)', ondragover='allowDrop(event)')
                    h1.roku-font
                        i.fa.fa-trash
            
            #projects.row
            #rokus-pane.row.hidden
            #tools-pane.row.hidden
                #remote
                    h4.text-center Remote
                    .row.remote-btn-row
                        .col-6.text-right
                            button.btn.btn-roku.remote-btn(type='button', data-id='back') Back
                        .col-6.text-left
                            button.btn.btn-roku.remote-btn(type='button', data-id='home') Home
                    .row.remote-btn-row
                        .col-12.text-center
                            button.btn.btn-roku.remote-btn(type='button', data-id='up') &nbsp Up &nbsp
                    .row.remote-btn-row
                        .col-5.text-right
                            button.btn.btn-roku.remote-btn(type='button', data-id='left') Left
                        .col-2.text-center
                            button.btn.btn-roku.remote-btn(type='button', data-id='select')  OK 
                        .col-5.text-left
                            button.btn.btn-roku.remote-btn(type='button', data-id='right') Right
                    .row.remote-btn-row
                        .col-12.text-center
                            button.btn.btn-roku.remote-btn(type='button', data-id='down') Down
                    hr
                    .row
                        .col-12.text-center
                            label.switch
                                input(type='checkbox', name='key_logging')
                                span.slider.round
                        .col-12.text-center
                            p.key-logger-status Key Logging
                #mouse-capture
                    h4.text-center Mouse Capture
                    h6.text-center.text-muted Click to Capture. ⇧q to quit
                    canvas#mouseCapture
            #refs-pane.row.hidden
                h1.text-center.roku-font Refs
                h4.text-muted.text-center Coming Soon
            #analytics-pane.row.hidden
              h4.text-center.roku-font Analytics Log Output
              div#analytics-data-view 
            #key-logs-pane.row.hidden
