extends layout

block content
    .row
        #sidebar.col-3
            ul.sidebar-menu.text-center
                li.sidebar-brand
                    h2 Roku Suite
                li.sidebar-nav.clickable(data-target='projects') Projects
                li.sidebar-nav.clickable(data-target='tools') Tools
                li.sidebar-nav.clickable(data-target='refs') Refs
        #main-content.col-9
            #deploy-options.row
                .col-6.offset-3.text-center
                    label.roku-font(for='roku-select')
                        h4 Select Roku
                    select#roku-select.selectpicker.btn.btn-roku(multiple='true', data-actions-box="true", data-header='Select Roku')
                        option Cooper
                        option Home
                        option My Roku
            #projects.row
