extends layout

block content
    .row
        #sidebar.col-3
            ul.sidebar-menu.text-center
                li.sidebar-brand
                    h2 Roku Suite
                li.sidebar-nav.clickable(data-target='projects') Projects
                li.sidebar-nav.clickable(data-target='tools') Tools
                li.sidebar-nav.clickable(data-target='refs') Refs
        #main-content.col-9
            #deploy-options.row
                .col-6.offset-3.text-center
                    .dropdown
                        button.btn.btn-roku.btn-block.dropdown-toggle(type='button', data-toggle='dropdown')
                          | Select Roku
                        .dropdown-menu
                          a.dropdown-item(href='#') Cooper
            #projects.row
