extends layout

block content
    .row
        #sidebar.col-3
            ul.sidebar-menu.text-center
                li.sidebar-brand
                    h2 Roku Suite
                li.sidebar-nav.clickable(data-target='projects') Projects
                li.sidebar-nav.clickable(data-target='tools') Tools
                li.sidebar-nav.clickable(data-target='refs') Refs
        #main-content.col-9
            #projects.row
                .col-4.project-card.clickable
                    .row
                        .col-12.text-center
                            h4.roku-font Project name
                            p.text-muted Git Branch
                        .col-12.text-center
                            .dropdown
                                button.btn.btn-roku.btn-block.dropdown-toggle(type='button', data-toggle='dropdown')
                                    | Default Roku
                                .dropdown-menu
                                    a.dropdown-item(href='#') Roku 1
                                    a.dropdown-item(href='#') Roku 2
                                    a.dropdown-item(href='#') roku 3
                        .col-12.text-center.pad-4
                            button.btn.btn-success.btn-block Deploy
