body {
    background-color: #662d91;
}

header {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.hidden {
    display: none;
}

.pad-2 {
    padding: 2%
}

.pad-3 {
    padding: 3%
}

.pad-4 {
    padding: 3%
}

.pad-top-4 {
    padding-top: 4%
}

.centered {
    margin: 0 auto;
}

.text-centered {
    text-align: center;
}

.label-btn {
    width: 20%;
    color: #662d91;
    border: 1px solid #662d91;
    background-color: transparent;
    padding: 2%;
}

.card {
    color: #662d91;
    background-color: #FFF;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
}

.side-menu {
    width: 30%;
    height: 100%;
    padding: 1%;
}

.side-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.side-menu li a {
    display: block;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #662d91;
    color: #662d91;
    text-decoration: none;
}

.side-menu li a:hover {
    color: #FFF;
    background-color: #662d91;
}

/* #add-project {
    opacity: 0;
    position: absolute;
    z-index: -1;
} */
