body {
    background-color: #662d91;
}

#sidebar {
    max-width: 250px;
    background-color: #FFF;
    height: 100vh;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
}

.dropdown-toggle {
    border: 0px;
    background-color: #662d91;
    color: #FFF;
}

.add-window-wrap {
    width: 90%;
    padding: 3%;
    background-color: #FFF;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
}

.form-group {
    width: 100%;
    text-align: center;
}

.active-nav {
    background-color: #662d91;
    color: #FFF;
}

#excluded_file_paths {
    list-style-type: none;
    color: #662d91;
}

#deploy-options {
    background-color: #FFF;
    padding: 5%;
    width: 100%;
    margin: 2% auto;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
}

#trashcan {
    background-color: #FFF;
    padding: 5%;
    width: 30%;
    margin: 2% auto;
    border: 3px solid red;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
}

#remote, #mouse-capture {
    background-color: #FFF;
    padding: 5%;
    width: 96%;
    margin: 2% auto;
    color: #662d91;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
}

#refs-pane {
    background-color: #FFF;
    padding: 5%;
    width: 99%;
    margin: 2% auto;
    color: #662d91;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
}

#tools-pane {
    overflow-y: scroll;
    height: 70vh;
}

.remote-btn-row {
    margin: 2% 0;
}

.roku-input {
    border: 1px solid #662d91;
    color: #662d91;
}

.sidebar-menu {
    list-style-type: none;
    margin: 0;
    padding: 2% 0 0 0;
    width: 100%;
    color: #662d91;
}

.sidebar-brand {
    font-size: 1.5vw;
}

.sidebar-nav {
    border-bottom: 1px solid #662d91;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
    padding: 5%;
}

.sidebar-nav:hover {
    background-color: #662d91;
    color: #FFF;
}

.project-card {
    margin: 2%;
    background-color: #FFF;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
}

.key-log-card {
    margin: 3%;
    background-color: #FFF;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
    padding: 2%;
    display: inline-block;
}

.roku-card {
    margin: 3%;
    background-color: #FFF;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
    padding: 2%;
    display: inline-block;
}

.card {
    width: 75%;
    background-color: #FFF;
}

.roku-dropdown {
    background-color: #662d91;
    width: 20%;
}

.roku-font {
    color: #662d91;
}

.btn-roku {
    background-color: #662d91;
    color: #FFF;
}

.clickable {
    cursor: pointer;
}

.hidden {
    display: none;
}

.pad-2 {
    padding: 2%
}

.pad-3 {
    padding: 3%
}

.pad-4 {
    padding: 3%
}

.pad-top-4 {
    padding-top: 4%
}

.centered {
    margin: 0 auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCC;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FFF;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #662d91;
}

input:focus + .slider {
    box-shadow: 0 0 1px #662d91;
}

input:checked + .slider:before {
    -webkit-transform: translate(26px);
    -ms-transform: translate(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.key-logger-status {
    color: red;
}

.tool-window-wrap {
    width: 90%;
    padding: 3%;
    background-color: #FFF;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
}

#key-logger-menu-toggle {
    color: #662d91;
    position: absolute;
    top: 0;
    right: 5%;
}

.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    display: inline-block;
}

.menu-item a {
    color: #662d91;
}

.btn-roku-outline {
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
}

#key-log-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

.key-log {
    margin: 2% 0;
}

.key-log {
    background-color: #FFF;
    border: 1px solid #662d91;
    color: #662d91;
    border-radius: 25px;
    padding-left: 1%;
}

input[name="time_break"] {
    width: 25%;
    color: #662d91;
}

#mouseCapture {
    width: 100%;
    height: 30%;
    border: 2px solid #662d91;
}
